.navegação {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.casinha {
  width: 100%;
  height: auto;
}

.cabeçalho {
  display: flex;
  width: 100%;
  height: 100%;
}

.pastor {
  background-image: url(pastor.jpeg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  justify-items: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
}

.documento {
  background-image: url(documento.jpeg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  justify-items: center;
  background-repeat: no-repeat;
}

.esporte {
  background-image: url(esporte.jpeg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  justify-items: center;
  background-repeat: no-repeat;
  width: 100%;
}

.esporte p {
  margin: 20px;
}